<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>SeguroSaaS - Login</title>


<link href="assets/css/login.css"
	rel="stylesheet" />

</head>

<body>

	<div class="login-page">
		<div class="form">
		
			<h1>SeguroSaaS</h1>

			<form class="login-form" th:action="@{/logar}" method="POST">
				<input type="text" placeholder="username" id="usuario" name="usuario" />
				<input type="password" placeholder="password" id="senha" name="senha" />
				<button type="submit">login</button>
				

			</form>
		</div>
	</div>


</body>

</html>
